[user]
	email = ds.gurukandhamoorthi@gmail.com
	name = SWAMINATHAN Gurukandhamoorthi
[push]
	default = simple
[credential]
	helper = cache
[alias]
    unstage = reset HEAD --
    last = log -1 HEAD
[merge]
    tool = vimdiff
[mergetool]
    prompt = false


[github]
	user = ds-gurukandhamoorthi
[core]
	excludesfile = /home/guru/.gitignore_global
